.main-conatiner {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 20%;
}

.header-container {
  display: flex;
  width: 100%;
  height: 10vh;
  align-items: center;
  margin-top: 2rem;
  justify-content: space-between;
}
.menu-header {
  display: flex;
}
.menu-header .item-menu {
  padding-left: 4rem;
}
.logo-icon {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #335eea;
}

/* Header */
.item-menu a {
  color: #506690;
  font-family: HKGroteskPro, serif;
  font-size: 1.2rem;
}
.item-menu {
  margin-left: 10px;
  padding: 12px;
}
.button-buy-now {
  border: none;
  padding: 0.8rem 1.6rem 1rem 1.6rem;
  text-decoration: none;
  color: aliceblue;
  background-color: blue;
  border-radius: 0.5rem;
  transition: all 300ms ease-out;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
}
.button-buy-now:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 1rem rgb(203, 200, 200);
}
.anh-section-one {
  max-width: 700px;
  min-width: 400px;
  width: 100%;
}
.section-content-two {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 9%;
}
.section-content-item div {
  display: flex;
}
.section-content-item {
}
.section-image-content {
  display: flex;
}
.content-hello {
  font-size: 3em;
  line-height: 1.2;
  font-family: HKGroteskPro, serif;
  font-weight: 500;
  color: #353536;
}
.content-hello span {
  color: #335eea;
}
.contenet-build-beau {
  font-size: 1.6rem;
  position: relative;
  top: -2rem;
  color: #869ab8 !important;
  font-family: HKGroteskPro, serif;
}
.view-all-pages {
  border: none;
  background-color: #335eea;
  padding: 1rem 2rem;
  color: aliceblue;
  text-decoration: none;
  border-radius: 0.7rem;
  font-size: 1.3rem;
  transition: all 300ms ease-out;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
}
.view-all-pages:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 1rem rgb(203, 200, 200);
}
.documentation {
  border: none;
  background-color: #adc5f0;
  padding: 1rem 2rem;
  position: relative;
  left: 1rem;
  color: #335eea;
  text-decoration: none;
  border-radius: 0.7rem;
  font-size: 1.3rem;
  transition: all 300ms ease-out;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
}
.documentation:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 1rem rgb(203, 200, 200);
}
.section-content-three {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: space-between;
  top: 7rem;
}

.bdd-class {
  font-size: 1.5rem;
  color: #505052;
  line-height: 1.4;
  font-family: HKGroteskPro, serif;
}
.content-long {
  color: #869ab8 !important;
  font-family: HKGroteskPro, serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6;
}
.section-content-four {
  width: 100%;
  height: 15vh;
  border: 1px solid rgb(224, 224, 224);
  border-left: none;
  border-right: none;
  position: relative;
  top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-content-four:before {
  content: "";
  position: absolute;
  /* background: blanchedalmond; */
  width: 100%;
  right: 100%;
  height: 100%;
  border: 1px solid rgb(224, 224, 224);
  border-right: none;
}
.section-content-four:after {
  content: "";
  width: 12.3%;
  height: 100%;
  position: absolute;
  height: 100%;
  /* right: 0; */
  left: 100%;
  /* overflow-x: hidden; */
  border: 1px solid rgb(224, 224, 224);
  border-left: none;
  border-right: none;
}
.logo-company-big {
  color: #869ab8 !important;
}
.border-logo-big {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo-company-big {
  color: #869ab8 !important;
}
.icon-menu-bar {
  display: none;
}
.item-menu {
  display: flex;
  flex-flow: column;
  position: relative;
}
.menu-dropdown {
  position: absolute;
  width: 40rem;
  height: 17rem;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 20px);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 1rem rgb(216, 215, 215);
  border-radius: 0.5rem;
  transition: all 300ms ease-out;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
  opacity: 0;
  z-index: -1;
  display: flex;
}
.item-menu:hover .menu-dropdown {
  transform: translate(-50%, 0px);
  opacity: 1;
  z-index: 1;
}
.background-image-menu-dropdown {
  width: 100%;
  height: 100%;
  background-color: #335eea;
  opacity: 0.8;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem 0 0 0.5rem;
}
.menu-dropdown-element-one {
  width: 50%;
  height: 100%;
  background-image: url(./assetsAnh/photo-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5rem;
}
.menu-dropdown-element-two {
  width: 50%;
  height: 100%;
  display: flex;
  box-sizing: content-box;
  border-radius: 0.5rem;
}

.menu-element-two-1 {
  display: flex;
  flex-flow: column;
  margin-left: 3rem;
}
.menu-element-two-2 {
  display: flex;
  flex-flow: column;
  margin-left: 3rem;
}
.background-image-menu-dropdown h3 {
  color: #fff !important;
  line-height: 1.45;
  letter-spacing: 0.03em;
  font-size: 1.1875rem;
}
.background-image-menu-dropdown p {
  color: #fff;
  margin-top: -1rem;
}
.background-image-menu-dropdown a {
  width: 10rem;
  height: 2.5rem;
  background-color: #fff;
  color: #335eea;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 0.5rem;
}
.dropdown-header {
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.55;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #335eea;
  white-space: nowrap;
  margin-bottom: 1rem;
  margin-top: 1.2rem;
  opacity: 0.7;
}
.dropdown-item {
  text-decoration: none;
  margin-bottom: 0.5rem;
  opacity: 0.7;
}
.menu-dropdown-two {
  justify-content: space-around;
  height: 20rem;
}
.menu-drop-page {
  display: flex;
  flex-flow: column;
}
.menu-drop-page h6 {
  opacity: 0.7;
}
.menu-drop-page a {
  width: 100%;
  clear: both;
  font-weight: 400;
  color: #506690;
  text-align: inherit;
  white-space: nowrap;
  margin-bottom: 0.8rem;
  opacity: 0.7;
}
.menu-dropdown-three {
  display: flex;
  width: 15rem;
  height: 12rem;
}

.menu-dropdown-child {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  width: 100%;
  padding: 5%;
}
.icon-documentation svg {
  width: 40px;
}
.item-account {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-right: -29px;
}
.menu-drop-child-account {
  flex-flow: column;
  width: 15rem;
  height: 12rem;
  left: 15rem;
  justify-content: space-around;
  padding-left: 2rem;
  box-sizing: border-box;
  top: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 1rem rgb(216, 215, 215);
  border-radius: 0.5rem;
  position: absolute;
  transform: translate(0px, 20px);
  transition: all 300ms ease-out;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
  opacity: 0;
  z-index: -1;
  display: flex;
}
.menu-drop-child-password {
  height: 8rem;
}
.item-account:hover .menu-drop-child-account {
  transform: translate(0px, 0px);
  opacity: 1;
  z-index: 1;
}
.menu-drop-child-account a {
  width: 100%;
  clear: both;
  font-weight: 400;
  color: #506690;
  text-align: inherit;
  white-space: nowrap;
  margin-bottom: 0.8rem;
}
.item-account a,
.icon {
  width: 100%;
  clear: both;
  font-weight: 400;
  color: #506690;
  text-align: inherit;
  white-space: nowrap;
  margin-bottom: 0.8rem;
  opacity: 0.7;
}
.menu-dropdown-documentation {
  width: 22rem;
}
.border-bottom-fuc {
  padding: 9px;
  margin-left: 16px;
  padding-top: 18px;
}
.documentation-menu-item {
  display: flex;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e8ebee;
  cursor: pointer;
}
.documentation-menu-item-bottom {
  border-bottom: none;
}
.content-documentation {
  display: flex;
  flex-flow: column;
}
.menu-dropdown-documentation {
  flex-flow: column;
  justify-content: center;
}
.content-documentation {
  margin-left: 15px;
}
.class-113 {
  display: flex;
  align-items: center;
  width: 3.2rem;
  height: 1.2rem;
  font-size: 0.8rem;
  margin-left: 1rem;
  background-color: rgb(198, 197, 255);
  justify-content: center;
  border-radius: 1.2rem;
}
@media only screen and (max-width: 414px) {
}
@media only screen and (min-width: 414px) and (max-width: 768px) {
  .main-conatiner {
    margin: 0 5rem;
  }
}
@media only screen and (max-width: 1194px) {
  .main-conatiner {
    margin: 0 20%;
  }
  .menu-header {
    display: none;
  }
  .button-buy-now {
    display: none;
  }
  .icon-menu-bar {
    display: inline;
    font-size: 1.6rem;
  }
  .section-content-two {
    flex-direction: column-reverse;
  }

  .section-image-content {
    display: flex;
    justify-content: center;
  }
  .content-hello {
    font-size: 4rem;
    text-align: center;
  }
  .section-content-item {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .contenet-build-beau {
    text-align: center;
    font-size: 2rem;
    padding-top: 1rem;
  }
  .view-all-pages {
    font-size: 2rem;
    width: 70%;
    height: 3vh;
    padding: 1rem 2rem 2rem 1rem;
    text-align: center;
  }
  .documentation {
    font-size: 2rem;
    width: 70%;
    height: 3vh;
    padding: 1rem 2rem 2rem 1rem;
    text-align: center;
  }
  .section-content-three {
    flex-direction: column;
    width: 100%;
    position: relative;
    align-items: center;
  }
  .bdd-class {
    margin-top: 0.5rem;
    font-size: 3rem;
  }
  .content-long {
    position: relative;
    top: -1rem;
    font-size: 2rem;
  }
  .class-docu-every {
    position: relative;
    left: 2rem;
  }
  .border-logo-big {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 13%;
  }
  .border-logo-big svg {
    width: 10rem;
    padding: 0.7rem;
  }
  .section-content-four {
    height: 10vh;
    padding: 2rem;
    margin-top: 2rem;
  }
  .section-content-four:after {
    width: 26.3%;
  }
}
.content-documentation-one {
  color: #335eea !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  line-height: 1.55;
  font-size: 0.75rem;
  opacity: 0.7;
}
.content-documentation-two {
  font-size: 0.9375rem !important;
  color: #506690 !important;
  opacity: 0.7;
}

@media only screen and (min-width: 1400px) and (max-width: 1855px) {
  .main-conatiner {
    margin: 0 10%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1473px) {
  .main-conatiner {
    margin: 0 5%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1320px) {
  .content-hello {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 1194px) and (max-width: 1239px) {
  .main-conatiner {
    margin: 0 2%;
  }
  .border-logo-big {
    margin: 0 5rem;
  }
}

@media only screen and (max-width: 954px) {
  .main-conatiner {
    margin: 0 2%;
    width: 100%;
  }
  .section-content-four {
    width: auto;
  }
}

@media only screen and (max-width: 750px) {
  .main-conatiner {
    margin: 0 2%;
    width: 100%;
    margin-left: 14%;
  }

  .icon-menu-bar {
    left: 10em;
    top: -2.2em;
  }
  .content-hello {
    font-size: 3rem;
    line-height: 2rem;
  }

  .contenet-build-beau {
    font-size: 1.5rem;
    line-height: 1.4rem;
  }
  .bdd-class {
    font-size: 2.5rem;
  }
  .content-long {
    font-size: 1.5rem;
    line-height: 1.4rem;
  }
 
}
@media only screen and (max-width: 527px) {
  .section-content-item div {
    flex-flow: column;
  }
  .view-all-pages {
    width: 80%;
  }
  .documentation {
    width: 80%;
    position: relative;
    left: 0;
    margin-top: 1rem;
  }
  .section-content-four {
    font-size: 1rem;
    position: relative;
    left: -2rem;
  }
  .border-logo-big svg {
    width: 7rem;
    padding: 0.5rem;
  }
}
@media only screen and (min-width: 1854px) {
  .section-content-four:after {
    width: 33.3%;
  }
}
/* seciton 2 */

.main-container-two{
  transform: translateY(25.4%);
  background-color: rgb(246, 246, 246);
}
.container{
  margin: 0 20%;
  display: flex;
  justify-content: space-between;
  padding: 0 ;
  padding-top: 5%;
}
.image-main-form{
  width:41%;
  display: flex;
  flex-flow: column;
  transition: all 300ms ease-out;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
  box-shadow: 0 0 1rem 1rem rgb(233, 231, 231);
  border-radius:0.5rem;
}
.image-main-form:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 1rem 1rem rgb(219, 218, 218);
  }
  
.image-on-form{
  width: 100%;
  height: 40%;
}
.image-on-form img{
  width: 100%;
  height: 100%;
  border-radius:0.5rem 0.5rem 0 0;
}
.form-under-form{
  width: 100%;
  height: 60%;
  background-color: rgb(255, 255, 255);
  border-radius:0 0 0.5rem 0.5rem;
}
.form-label-group{
  width: 100%;
  height: 5rem;
}
.form-control{
  width: 100%;
  height: 95%;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(224, 224, 224);
}
.form-control::placeholder{
  color: #869ab8;
  line-height: 1.6;
  font-size: 1.0625rem;
}
.form-control:focus{
  border-bottom: 1px solid #007bff;
}

form{
  padding:0 2rem ;
}
.download-sample{
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-download-sample{
  width: 100%;
  height: 50%;
  background-color: #42ba96;
  border: none;
  border-radius: 0.5rem;
  line-height: 1.6;
  font-size: 1.0625rem;
  color: #ffffff;
  transition: all 300ms ease-out;
transition-delay: 0.2s;
transition-duration: 0.2s;
}

.button-download-sample:hover {
transform: translateY(-5px);
box-shadow: 0 0 1rem rgb(203, 200, 200);
background-color: #389e7f;
}
.infor-content-main{
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 60%;
  margin-left: 10%;
}
.d-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-flex svg{
  color: #42ba96!important;
  width: 22px;
}
.d-flex p{
  color: #42ba96!important;
  font-family: HKGroteskPro,serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6;
    text-align: left;
    letter-spacing: 0.02rem;
}
.check-icon{
  background-color: #c0e9dc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin-right: 1.5rem;
}
.infor-content-three{
  display: flex;
  justify-content: space-between
}
.container-d-flex{
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
.infor-content-two{
  color: #869ab8!important;
  font-size: 1.4rem!important;
  font-family: HKGroteskPro,serif;
  line-height: 1.6;
  text-align: left;
  font-weight: 400;
  letter-spacing: 0.01em;
  letter-spacing: 0.02rem;
}
.infor-content-one{
  line-height: 1.35;
  letter-spacing: 0.01em;
  font-size: 2.3rem;
  font-weight: 400;
  font-family: HKGroteskPro,serif;
  color: #161c2d;
    text-align: left;
  margin-bottom: 0;
}