.main-conatiner{
  width: 100vw;
  height: 140vh;
  display: flex;
  background-color: rgb(247, 255, 255);
  flex-flow: column;
  align-items: center;
}
.header-container{
  display: flex;
  width: 55%;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.menu-header{
  display: flex;
}
.menu-header .item-menu{
  padding-left: 4rem;
}
.logo-icon{
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #335eea;
}
.item-menu a {
  color: #506690;
  font-family: HKGroteskPro,serif;
  font-size: 1.2rem;
}
.button-buy-now{
  border: none;
  padding: 0.8rem 1.6rem 1rem 1.6rem;
  text-decoration: none;
  color: aliceblue;
  background-color: blue;
  border-radius: 0.5rem;
}
.anh-section-one{
  height: 26rem;
}
.section-content-two{
  display: flex;
  width: 60%;
  justify-content: space-between;
  position: relative;
  left: 3rem;
  top: 8rem;

}
.section-content-item div{
  display: flex;
}
.section-content-item{
}
.content-hello{
  font-size: 3.3em;
  line-height: 1.2;
  font-family: HKGroteskPro,serif;
  font-weight: 500;
  color: #353536;
}
.content-hello span{
  color: #335eea;
}
.contenet-build-beau{
  font-size: 1.6rem;
  position: relative;
  top: -2rem;
  color: #869ab8!important;
  font-family: HKGroteskPro,serif;
}
.view-all-pages{
  border: none;
  background-color: #335eea;
  padding: 1rem 2rem ;
  color: aliceblue;
  text-decoration: none;
  border-radius: 0.7rem;
  font-size: 1.3rem;
}
.documentation{
  border: none;
  background-color: #adc5f0;
  padding: 1rem 2rem ;
  position: relative;
  left: 1rem;
  color: #335eea;
  text-decoration: none;
  border-radius: 0.7rem;
  font-size: 1.3rem;
}
.section-content-three{
  display: flex;
  width: 60%;
  position: relative;
  top: 13rem;
  left: 2.5rem;
  justify-content: space-between;
}
.bdd-class{
  font-size: 1.5rem;
  color: #505052;
  line-height: 1.4;
  font-family: HKGroteskPro,serif;
}
.content-long{
  color: #869ab8!important;
  font-family: HKGroteskPro,serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6;
}
.section-content-four{
  width:100vw;
  height: 15vh;
  border: 1px solid rgb(224, 224, 224);
  position: relative;
  top: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-company-big{
  color: #869ab8!important;
}
.border-logo-big{
  width: 60%;
  display: flex;
  justify-content: center;
  position: relative;
  left: 1.5rem;
}
.logo-company-big{
  margin-right: 1.8rem;
  color: #869ab8!important;
}